<body>

<div style="background-color:purple", id="header">
	<h1> Alex Out </h1>
	<hr>
</div>


<div id="sidenav">
Search<br>
Browse<br>
Add a New Restaurant<br>
</div>
</body>

<style>
#header {
    color:white;
    text-align:center;
}

#sidenav {
	background-color: orange;
	color:white;
	text-align: left;
	width:200px;
}

</style>