<h1>Listing restaurants</h1>

<table border="0.25" style="width:90%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tags</th>
      <th>Show</th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.Name %></td>
        <td><%= restaurant.Tag %></td>
        <td><%=link_to 'Show', restaurant %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<style>
table, th, td {

    border: 1px solid black;
}
th, td {
    padding: 15px;
}
</style>
<%# link_to 'New Restaurant', new_restaurant_path %>
