<div>
  <% if !user_signed_in? %>
<div class="jumbotron">
  <h1>Welcome to Alex Out !</h1>
  <p> Your guide to all the new places around Alexandria!</p>
</br>
<p> <%= link_to "Sign Up To Write A Review And Add Places", new_user_registration_path, class:"btn btn-primary btn-lg" %></p>
</div>
<%end%>
</div>

</br>


<div class="row-fluid" style="position:relative; z-index:1;" >
  <% @restaurants.each do |restaurant| %>
    <div class="col-sm-6 col-md-3" style="background: #9ab2e1 ;">
      <ul class="thumbnail" >
      <li class="span4">
        <h2><%= link_to restaurant.name, restaurant %> 
        <%= link_to (image_tag restaurant.image.url(:medium), class: 'image'), restaurant %>
      </li>
      </ul>
    </div>
  <%end%>
</div>



<style>
.jumbotron{
  background: #f6daed;
  color:#50d3c5;
  font-family: 'Young & Beautiful';
  font-weight: bold;
}
.jumbotron a{
  font-family: 'Comic Sans MS';
}
.panel{
  background: #83bacf;
}
.thumbnail{
  background: transparent;
  text-align: center;
  border: none;
  width:250px; 
  height:250px;
}
.thumbnail a{
    font-family: 'Dancing Script';
  font-size: 90%;
}

</style>